html {
 box-sizing: border-box;
}

*,
*::before,
*::after {
 box-sizing: inherit;
}

* {
 margin: 0px;
 padding: 0px;
 }

a {
 text-decoration: none;
 color: #e4e7ec;
}

body {
 background-color: #2e3541;
}

h1, p, h3 {
    color: #e4e7ec;
}

.main.container {
    padding: 50px;
}

h1 {
    font-size: 100px;
    text-align: center;
}

.h1.title {
    font-size: 20px;
    text-align: center;
}

.section {
    margin-bottom: 50px;
}

.first.section {
    height: 550px;
    width: auto;
}

.second.section {
    height: 500px;
    width: auto;
}

.items.container h3 {
    display: inline-block;
    font-size: 40px;
    padding: 10px 30px;
    margin-bottom: 50px;
}

.items.container {
    text-align: center;
}



